@font-face {
    font-family: Canela;
    font-style: normal;
    font-weight: bold;
    src: url("fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2");
}
@font-face {
    font-family: Canela;
    font-style: normal;
    font-weight: normal;
    src: url("fonts/633e3431631c8c89d187b01e735489a6.woff") format("woff");
}

html,
body {
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    background-color: #f9f8f7;
    user-select: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1;
    font: 400 18px/1 "Canela", Times New Roman, serif;
    /*color: #004627;*/
    /*background-color: #f9f9fb;*/
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: discretionary-ligatures;
    /*font-variant-numeric: oldstyle-nums;
    -moz-font-feature-settings: 'onum';
    -webkit-font-feature-settings: 'onum';
    font-feature-settings: 'onum' on;*/
}

/*font-family: HelveticaNeue;
font-size: 30px;
color: #000000;
text-align: left;
line-height: 40px;*/


p {
    font-size: 5.5vw;
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    height: calc(100vh - 2em);
    width: calc(100vw - 2em);
    padding: 1em;
}

.wrap {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    /*padding-bottom: 45%;*/
    /*height: 94%;*/
    /*width: 100%;*/
    top: 1em;
    left: 1em;
    position: fixed;
    margin-right: 1em;
    z-index: 3;
}  

.nav {
    /*height: 6%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.nav p{
    font-size: 5.5vw;
    line-height: 1em;
    /*margin-left: 1em;*/
}

.info {
    height: calc(100% - 4em);
    padding-top: 2em;
}

button:hover {
    filter: blur(40px);
    color: pink;
    box-shadow: 0px 0px 50px 10px pink;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

a:hover {
    filter: blur(40px);
    color: pink;
    box-shadow: 0px 0px 50px 10px pink;
    cursor: pointer;
    position: relative;
    z-index: 5;
}


/*.image {
    position: fixed;
    top: 6em;
    display: inline-block;
    box-shadow: 20px 10px 70px 10px #80808087;
    z-index: 1;
    opacity: 1;
    height: 70vh;
}*/

.image:hover {
    opacity: 0.7;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: inherit;
  text-decoration: none;
  padding-right: 5px;
}
button:focus:hover {
    color: pink;
}

button:focus {
  border-color: transparent;
  background-color: inherit;
  border-color: transparent;
  background-color: inherit;
  outline-color: transparent;
  outline-style: none;
  outline-width: 0;
  text-transform: uppercase;
}

button.reset:focus {
    text-transform: capitalize;
}
/*a:hover {
    color: inherit;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s; 
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes example {
    0%   {
        filter: blur(0px);
        color: #000000ad;
        box-shadow: 0px 0px 0px 0px #f9f8f7;
    }
    100% {
        filter: blur(40px);
        color: #00000000;
        box-shadow: 0px 0px 50px 10px pink;
    }
}
@keyframes example {
    0%   {
        filter: blur(0px);
        color: #000000ad;
        box-shadow: 0px 0px 0px 0px #f9f8f7;
    }
    100% {
        filter: blur(40px);
        color: #00000000;
        box-shadow: 0px 0px 50px 10px pink;
    }
}*/


/* Slideshow container */
.slideshow-container {
  width: 40vw;
  position: relative;
  /*bottom: 5em;
  left:2em;*/
  margin-right: auto;
  z-index: 1;
  opacity: .6;
}

.mySlides {
  display: none;
}

img {
    width: 100%
}

.slideshow-container:hover {
    opacity: 1;
    z-index: 4;
}

@media (max-width: 900px) {
    main {
        height: calc(100vh - 2em);
        width: calc(100vw - 2em);
        padding: 1em;
    }
    .info {
        /*height: calc(100% - 1em);*/
        padding-top: 1em;
    }
    p, .nav p button {
        font-size: 10vw;
    }
    /*.slideshow-container {
        width: 100%;
    }*/
    #topnav, #header a {
        display: block;
    }
    header {
        top: 1em;
        left: 1em;
        margin-right: 1em;
    }
}

@media (max-width: 900px) {
    .slideshow-container {
        width: 80%;
    }
}
@media (max-width: 480px) {
    .slideshow-container {
        width: 100%;
    }
}